</div>
</div>
</div>

<footer>
<p class="text-center">Albums &copy; 2017</p>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
